# Python
venv/
__pycache__/
*.pyc

# Node.js
node_modules/

# Environment files
.env

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Icon?
.Spotlight-V100
.Trashes

# macOS
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Images
images/
