[Unit]
Description=GrowPro MLX90614 MQTT Sensor Script
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/growpro/venv/bin/python /home/pi/growpro/scripts/sensor_MLX90614_mqtt.py
WorkingDirectory=/home/pi/growpro/scripts
Restart=always
User=pi
Environment=PYTHONUNBUFFERED=1
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
